<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>Księgarnia Zuz</title>
</head>

<body>

  <main>
    {{{body}}}
  </main>

    <footer>
      <p>Copyright@ZuzDab</p>
    </footer>
</body>

</html>
