<header>
  <h1>Księgarnia Zuz</h1>
  <img src="gfx/main/logo.png" alt="logo" />
  <h2>Edycja pozycji</h2>
</header>

<form action="editForm2" method="get">
  <label>Tytuł: <input type="text" name="tytul" /></label>
  <label>Autor: <input type="text" name="autor" /></label>
  <label>Wydawnictwo: <input type="text" name="wydawnictwo" /></label>
  <label>Gatunek: <input type="text" name="gatunek"/></label>
  <label>Zdjęcie: <input type="image" name="okladka"/></label>
  <input type="submit" value="Zmień" />
</form>
