<header>
  <h1>Księgarnia Zuz</h1>
  <img src="gfx/main/logo.png" alt="logo" />
</header>

<h1 class="site_title"> Podano złe dane logowania!</h1>
<form action="/backForm" method="get">
  <input type="submit" name="powrot" value="Powrót" />
</form>
