*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body{
  background-color: rgb(239,217,186);
}
/*------HEADER Z LOGOWANIEM-------*/
header{
  height: 80px;
  background-color: rgb(210,180,140);
  border-bottom: 5px solid rgb(82,71,55);
  padding: 5px;
  width: 100vw;
}

header img{
  width: 80px;
  height: 80px;
  position: absolute;
  left: 478px;
  top: 0;
}

header h1{
  color: rgb(82,71,55);
  display: block;
  font-size: 50px;
  margin-left: 3vh;
}

.title{
  text-align: left;
  text-indent: 10px;
}

.login{
  display: block;
  width: 380px;
  height: 50px;
  /*border: 1px solid black;*/
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
}

.login input[type="text"], input[type="password"]{
  width: 130px;
  font-size: 15px;
}

/*.login p{
  font-size: 20px;
}*/

header h2{
  display: block;
  position: absolute;
  right: 20px;
  top: 0;
}

/*-------wysokosc main'a- i inne podzialy-------*/

main{
  min-height: 97vh;
}

.right{
  width: 75vw;
  float: right;
  min-height: 96vh;
}

.left{
  width: 23%;
  min-height: 450px;
  background-color: rgb(210,180,140);
  float: left;
  padding: 50px, 0, 50px, 0;
  margin-top: 10px;
  position: fixed;
  border: dashed 2px rgb(82,71,55);
  color: rgb(88,78,58);
}

/*------------WYSZUKIWANIE------------*/

.box_form{
  height: 150px;
  width: 250px;
  position: relative;
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
}

.box_form input{
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 13px;
}

.sort_box{
  width: 230px;
  height: 80px;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
}

.sort_box h3{
  text-align: center;
}

.sort input[type=submit], .sort select[name=sortuj]{
  width: 90px;
  height: 40px;
  font-size: 14px;
  margin: 0 10px 0 10px;
}


/*-------ZMIANA WYGLĄDU------*/

.change_display{
  width: 230px;
  height: 80px;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
}

.change_display button, .change_display select[name=widok]{
  width: 90px;
  height: 40px;
  font-size: 14px;
  margin: 0 10px 0 10px;
}

.change_display h3{
  text-align: center;
}



/*--------------TABELA----------------*/

.right table{
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.table_headers{
  font-weight: bold;
  font-size: 80%;
  background-color: rgba(255,255,255, 0.1);
}

td{
  text-align: center;
  width: 10%;
  height: 15%;
  padding: 5px;
  word-wrap: wrap;
  border-radius: 10px;
  background-color:rgba(255,255,255, 0.3);
  border: 1px solid black;
}

td img{
  width: 70%;
  height: 80%;
}

.index{
  width: 5%;
  font-size: 20px;
  padding: 0;
}

.cover{
  font-style: oblique;
}

footer{
  height: 25px;
  background-color: rgb(210,180,140);
  padding: 10px;
  clear: both;
}
/*--------Przyciski fajne--------*/

.adm_title, .basket_title, .edit_title{
  width: 230px;
  height: 75px;
  /*border: 1px solid black;*/
  position: absolute;
  top: 0;
  right: 0;
}

.adm_title input[name="logout"]{
  width: 100px;
  height: 40px;
  right: 0;
  bottom: 0;
  position: absolute;
}
.adm_title h2, .basket_title h2, .edit_title h2{
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
}

/*----------koszyk-----------*/
.basket_box{
  width: 50px;
  height: 50px;
  /*border: 1px solid black;*/
  position: absolute;
  padding: 5px;
  top: 0;
  right: 390px;

}
.basket_box img{
  width: 50px;
  height: 40px;
  position: absolute;
  left: 0;
  margin-left:5px;
  margin-right: 5px;
}

input[name="koszyk"]{
  font-size: 60%;
  position: absolute;
  bottom: 0;
  left: 12px;
}

input[type="file"]{
  font-size: 10px;
}

.goBack_btn{
  width: 100px;
  height: 40px;
  right: 0;
  bottom: 0;
  position: absolute;
}


input[name="usunZawartosc"]{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 120px;
  height: 40px;
}

.orderedTitles_title{
  text-align: center;
}

.orderedTitles li{
  text-align: center;
  display: block;
  border: 1px solid black;
  margin: 10px;
  background-color: rgba(255,255,255, 0.5);
  padding: 10px;
  border-radius: 10px;
}


/*------dodawanie do bazy-------*/
.add_book{
  height: 320px;
  width: 250px;
}

.add_book input{
  font-size: 17px;
}

.add_book input[name="add"]{
  position: absolute;
  bottom: 0;
  font-size: 16px;
  left: 25%;
  width: 100px;
}
/*--------tooltip --------------*/

.tooltip{
  display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
  font-size: 10px;
	padding: 11px;
	color:#fff;
}


/*---- tooltip dla kafelków-------*/

 .tooltip_tiles{
  display:none;
	position:absolute;
  max-width: 20%;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
  font-size: 14px;
	padding: 11px;
	color:#fff;
}


/*---------------WIDOK TABELI--------------------*/
.table_display{
  display: inline;
}

/*-------------WIDOK LISTY-----------------*/

.list_display{
  display: none;
}

.list_box{
  width: 95%;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.4);
  border-radius: 20px;
  min-height: 17vh;
  margin-top: 20px;
  padding: 20px;
  position: relative;
}

.list_box p{
  font-style: oblique;
}

.list_box p span{
  font-weight: bold;
}

.list_box img{
  height: 70%;
  width: 25%;
  border-radius: 10%;
}

.list_left_info{
  width: 65%;
  min-height: 20vh;
  float: right;
  display: block;
}

.list_box input[name="dodajLista"]{
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 130%;
}

.right_info{

}

/*---------WIDOK KAFELKI------------*/
.tiles_display{
  display: none; /*POTEM ZMIEŃ NA NONE!*/
  flex-wrap: wrap;
  margin: 0 auto;
}

.tiles_box{
  width: 35%;
  min-height: 50vh;
  background-color: rgba(255,255,255, 0.5);
  border-radius: 15px;
  margin: 50px;
  text-align: center;
  padding: 10px;
}

.tiles_box img{
  width: 60%;
  height: 80%;
  margin: 0 auto;
  display: block;
}

.tiles_info{
  display: none;
}

/*.tiles_info{
  display: block;
  width: 24.8vw;
  min-height: 49.8vh;
  background-color: rgba(0,0,0, 0.6)
  color: white;
  text-decoration: none;
}*/

/*----------EDYCJA----------*/

.edit_box{
  width: 50%;
  min-height: 80vh;
  background-color: rgba(255,255,255, 0.5);
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid black;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.edit_box img{
  display:block;
  margin: 0 auto;
  width: 40%;
  height: 60%;
  border-radius: 10%;
}


.edit_input{
  font-size: 100%;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

#submit_edition{
  font-size: 110%;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

/*--------------*/


.chosenOne{
  font-weight: bold;
}
