*{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(239,217,186);
}
/*------HEADER Z LOGOWANIEM-------*/
header{
  height: 80px;
  background-color: rgb(210,180,140);
  border-bottom: 5px solid rgb(82,71,55);
  padding: 5px;
}

header img{
  width: 80px;
  height: 80px;
  position: absolute;
  left: 478px;
  top: 0;
}

header h1{
  color: rgb(82,71,55);
  display: block;
  font-size: 50px;
  margin-left: 3vh;
}

.title{
  text-align: left;
  text-indent: 10px;
}

.login{
  display: block;
  width: 380px;
  height: 50px;
  border: 1px solid black;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
}

/*.login p{
  font-size: 20px;
}*/

header h2{
  display: block;
  position: absolute;
  right: 20px;
  top: 0;
}

/*-------wysokosc main'a- i inne podzialy-------*/

main{
  min-height: 97vh;
}

.right{
  width: 75vw;
  float: right;
  min-height: 96vh;
}

.left{
  width: 23.8vw;
  min-height: 490px;
  background-color: rgb(210,180,140);
  float: left;
  padding: 50px, 0, 50px, 0;
}

/*------------WYSZUKIWANIE------------*/

.box_form{
  height: 150px;
  width: 250px;
  position: relative;
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
}

.box_form input{
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 14px;
}

.sort_box{
  width: 230px;
  height: 80px;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
}

.sort_box h3{
  text-align: center;
}

.sort input[type=submit], .sort select[name=sortuj]{
  width: 90px;
  height: 40px;
  font-size: 14px;
  margin: 0 10px 0 10px;
}



/*--------------TABELA----------------*/

.right table{
  margin: 0 auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
td{
  text-align: center;
  border: 1px solid black;
  width: 9vw;
  height: 30px;
  padding: 5px;
}

footer{
  height: 25px;
  background-color: rgb(210,180,140);
  clear: both;
}
/*--------Przyciski fajne--------*/

.adm_title{
  width: 200px;
  height: 75px;
  border: 1px solid black;
  position: absolute;
  top: 0;
  right: 0;
}

.adm_title input[name="logout"]{
  width: 100px;
  height: 40px;
  right: 0;
  bottom: 0;
  position: absolute;
}
.adm_title h2{
  position: absolute;
  top: 0;
  right: 0;
}

/*----------koszyk-----------*/
.basket_box{
  width: 50px;
  height: 50px;
  /*border: 1px solid black;*/
  position: absolute;
  padding: 5px;
  top: 0;
  right: 390px;

}
.basket_box img{
  width: 50px;
  height: 40px;
  position: absolute;
  left: 0;
  margin-left:5px;
  margin-right: 5px;
}

input[name="koszyk"]{
  font-size: 10px;
  position: absolute;
  bottom: 0;
  left: 12px;
}

/*------dodawanie do bazy-------*/
.add_book{
  height: 200px;
  width: 250px;
}

.add_book input{
  font-size: 17px;
}

.add_book input[name="add"]{
  position: absolute;
  bottom: 0;
  font-size: 16px;
  left: 25%;
  width: 100px;
}
